.wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type='password']{
  margin-top: 40px;
  width: 400px;
  padding: 12px;
  border: 1px solid lightgrey;
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
}

input[type='password']:focus{
  border: 1px solid #e7e7e7;
  box-shadow: 0 0 7px lightgrey;
}
