<div class="wrapper">
  <h2>Password input test strength</h2>
  <div class="field">
    <input type="password"
           #passwordInput>
    <div class="password-strength" >
      <div class="password-section"
           [ngClass]="{
           'gray': passwordStrength === 0,
           'red': passwordStrength === 1 || passwordStrength === 2,
           'yellow': passwordStrength === 3,
           'green': passwordStrength === 4
           }"
      ></div>
      <div class="password-section"
           [ngClass]="{
           'gray': passwordStrength === 0 || passwordStrength === 2,
           'red': passwordStrength === 1,
           'yellow': passwordStrength === 3,
           'green': passwordStrength === 4
           }"
      ></div>
      <div class="password-section"
           [ngClass]="{
           'gray': passwordStrength === 0 || passwordStrength === 2 || passwordStrength === 3,
           'red': passwordStrength === 1,
           'green': passwordStrength === 4
           }"
      ></div>
    </div>
  </div>
</div>
